<link rel="stylesheet" href="css/base.css">
{% extends 'bootstrap/base.html' %}'

{% block content %}
<div class="container">
    <header>
        <div class="container">
            <div class="row">
                <a class="brand pull-left" href=="#"> SuperBeginner</a>
                <ul class="list-inline list-unstyled pull-right">
                    <li><a href="about.html">About</a></li>
                    <li><a href="learn_python.html">Learn python</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="imgs/python_icon.png" class="img-responsive">

            </div>
            <div class="col-sm-6">
                <h3> Write Your First Program in Python</h3>
                <p> Something exciting about learning python with some exercises</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-sm-6">
                <img src="imgs/python_icon.png" class="img-responsive">

            </div>
            <div class="col-sm-6">
                <h3>Practice, practice, practice</h3>
                <p> Something exciting about learning python with some exercises</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}